// font embeds
@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?87957683');
  src: url('/fonts/fontello.eot?87957683#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff2?87957683') format('woff2'),
       url('/fonts/fontello.woff?87957683') format('woff'),
       url('/fonts/fontello.ttf?87957683') format('truetype'),
       url('/fonts/fontello.svg?87957683#fontello') format('svg');
  font-style: normal;
  font-weight: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello.svg?87957683#fontello') format('svg');
  }
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
}

.icon-right-open:before { content: '\e801'; }

@font-face {
  font-family: 'Winter-Calligraphy';
  src:url('/fonts/Winter-Calligraphy.ttf.woff') format('woff'),
      url('/fonts/Winter-Calligraphy.ttf.svg#Winter-Calligraphy') format('svg'),
      url('/fonts/Winter-Calligraphy.ttf.eot'),
      url('/fonts/Winter-Calligraphy.ttf.eot?#iefix') format('embedded-opentype'); 
  font-style: normal;
  font-weight: normal;
}

// color variables
$accent-green: #3e857b;
$accent-teal: #4893b1;
$dark-gray: #707070;
$light-gray: #dedede;
$off-white: #f4f4f4;
$white: #fff;

$breakpoints: (
  xs: 512px,
  sm: 768px,
  md: 896px,
  lg: 1152px,
  xl: 1280px
);

// extends
%reset {
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}

%h1 {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

// mixins
@mixin breakpoint( $breakpoint ) {
  @if map-has-key( $breakpoints, $breakpoint ) {
    @media ( min-width: #{ map-get( $breakpoints, $breakpoint ) } ) {
      @content;
    }
    @media (min-width: $breakpoint ) {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$breakpoint}`. ";
  }
}

// type scale
html {
 font-size: 1rem;
}

body {
  font-weight: 400;
  line-height: 1.45;
}

h1 {
  font-size: 2.827rem;
  margin-top: 0;
}

h2 {
  font-size: 1.999rem;
}

h3 {
  font-size: 1.414rem;
}

small {
  font-size: 0.707rem;
}

// html styling
body {
  color: $dark-gray;
  font: 500 14px/1.618 'Montserrat', sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %reset;
    font-weight: inherit;
    line-height: 1.2;
  }
}

h2 {
  color: $accent-green;
  font-family: 'Winter-Calligraphy', cursive;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .88);
  margin: 1.414rem 0 .414rem;
}

div,
p,
dl,
dt,
dd {
  @extend %reset;
}

dt {
  font-weight: bold;
}

li {
  margin-bottom: 1.202rem; 
  strong {
    color: darken($light-gray, 23%);
    display: block;
  }
}

header {
  background: #fff url(/img/hero-background.jpg) no-repeat center 25px;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 50px;
  padding-top: 125px;
  position: relative;
  text-align: center;
  h1 {
    @extend %h1;
    border-bottom: 3px solid $light-gray;
    border-top: 3px solid $light-gray;
    line-height: .88;
    margin: .23rem auto;
    padding: .23em 0;
    width: 77%;
  }
  p {
    @extend %h1;
    color: $accent-green;
    font-size: 1.414rem;
    text-transform: uppercase;
  }
  img {
    left: 50%;
    position: absolute;
    top: -38%;
    transform: translateX(-50%);
    width: auto;
  }
  .date {
    @include breakpoint(md) {
      margin-top: 2.5em;
    }
    font-size: 1rem;
    margin-top: 4.5em;
  }
}

.link {
  text-decoration: none;
}

.link-copy {
  color: $accent-teal;
  &:hover {
    color: lighten($accent-teal, 25%);
  }
}

.btn {
  background-color: $accent-teal;
  box-shadow: 0 0 4px rgba(0, 0, 0, .32);
  color: $white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.44rem;
  line-height: 1;
  padding: .33rem 0 .33rem .67rem;
  text-transform: uppercase;
  &.btn-rsvp {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
  }
}

.silver-band {
  @include breakpoint(md) {
    width: 658px;
  }
  background: $dark-gray;
  background: -moz-linear-gradient(-45deg, $dark-gray 0%, $light-gray 100%);
  background: -webkit-linear-gradient(-45deg, $dark-gray 0%,$light-gray 100%);
  background: linear-gradient(135deg, $dark-gray 0%,$light-gray 100%);
  box-shadow: 0 0 4px rgba(0, 0, 0, .32);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-gray', endColorstr='$light-gray',GradientType=1 );
  margin: 15px auto;
  padding: 1px 0;
  position: relative;
  width: calc(100% - 40px);
  > div {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
    margin: 15px;
  }
}

section {
  background-color: $white;
  &:nth-child(2n) {
    background-color: lighten($light-gray, 9%);
  }
  > div {
    @include breakpoint(md) {
      width: 600px;
    }
    margin: 0 auto;
    padding: 1em 0 2em;
    width: calc(100% - 60px);
  } 
  dl,
  p {
    margin-bottom: 1.3em;
  }
  &.custom {
    > div {
      @include breakpoint(md) {
        width: 864px;
      }
    }
    h2 {
      margin-bottom: 1.75rem;
    }
  }
}

footer {
  background-color: $light-gray;
  padding: .5rem 0;
}

.center {
  text-align: center;
}

.flex-columns {
  @include breakpoint(md) {
    display: flex;
    justify-content: space-around;
  }
  display: block;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-98 {
  width: 98%;
}

// grid
.elite-grid-container {
  @include breakpoint(lg) {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    margin: 0 auto 40px;
    width: 860px;
  }
  img {
    border: 3px solid $light-gray;
  }
}

.left-frame {
  @include breakpoint(lg) {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 2;
    justify-content: center;
  }
}
.top-right {
  @include breakpoint(lg) {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
    justify-content: flex-end;
  }
}

.bottom-right {
  @include breakpoint(lg) {
    align-content: center; 
    align-items: stretch;
    flex-direction: column;
    grid-area: 2 / 2 / 3 / 3;
  }
}

// dialog
dialog + section {
  padding-top: 45px;
}

dialog {
  margin: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  position: fixed;
  text-align: center;
  top: 4%;
  width: calc(100% - 72px);
  z-index: 110;
  > div {
    padding: 1em 0 2em;
  }
  /* native backdrop */
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }
  /* polyfill backdrop */
  + .backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .btn {
    margin-right: .5em;
  }
}

dialog[open] {
  animation: slide-up 0.4s ease-out;
}

dialog.hide {
  animation: slide-down 0.4s ease-out;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 15px);
  }
}